# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/


skill_extraction_service/**/test/
skill_extraction_service/**/tests/


skill_extraction_service/**/output.txt
skill_extraction_service/**/ARCHITECTURE.md
ingestor
structured_json.txt
tests
demo